/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);*/
body {
    font-family: 'Verdana';
    background-color:  #85c1e9;
    color: blue;
}

.header {
    text-align: center;
    color:  #191970;
}

h1 {
    font-weight: 500;
}

.form-control, .thumbnail {
    border-radius: 2px;
}
.btn-danger {
    background-color: #B73333;
}

/* File Upload */
.fake-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload #logo-id {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.search-btn {
    width: 100%;
    font-weight: bold;
    border-radius: 20px;
}

.search-btn span i{
    padding-right: 10px;
}

.result-panel {
    border-left: 2px solid silver;
    height: 100%;
}

.main-img-preview {
    margin: auto;
}

.img-preview {
    margin: auto;
    width: 250px;
    height: 250px;
}

.container {
    background-color: white;
    height: 100%;
}

.result {
    height: 200px;
    width: 22%;
    /*background-color: blue;*/
    margin: 12px;
    float: left;
}

.result img {
    height: 100%;
    width: 100%;
}

#fakeUploadLogo {
    width: 136px;
}

.caption {
    text-align: center;
    display: none;
}

.imageID {
    text-align: center;
    display: none;
}

#result-header {
    text-align: center;
}

.evaluation {
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    margin-top: 15px;
}

.blue-border {
    border: 2px solid blue;
}

.red-border {
    border: 2px solid red;
}