{% extends "_base.html" %}

{% block content %}

<div class="header">
  <h1 class="title">SEARCH BY IMAGE</h1>
</div>
<hr/>

<div class="display">
  <div class="left-pane">
    <img src="static/init-preview.png" alt="preview image" class="img-preview">
    <div id="preview-name">Preview</div>
    <div id="select" class="image-select">
      Select & Search
    </div>
  </div>
  <div class="right-pane">
    <div id="results" class="search-results">

    </div>
  </div>
</div>
<!-- The Modal -->
<div id="modal" class="modal-display">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-images-list">

        </div>
    </div>
      
</div>

{% endblock %}

